<h1>Admin::Dashboard</h1>

<p><%= link_to "Number Of Products:", [:admin, :products] %>
  <%= @product_count %>
</p>
<p> <%= link_to "Number Of Categories:", root_path %>
  <%= @category_count %>
</p>

 

